@import url(normalize.scss);

:root {
    --dark-600: #2e2e2e;
    --dark-500: #414141;
    --font-size: 16px;
    // --font-family: 'Noto Sans JP', sans-serif;
}

body,
html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: var(--dark-500);
    line-height: 1.5;
    background-color: #f8f9fa;
}

.text-body-secondary {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
}

.main-container {
    min-height: calc(100vh - 72px - 145px);
}

.entry-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-bottom: 1rem;
    }
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.125rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.875rem;
    }
}

.toast-area {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 99;
    .alert {
        min-width: 200px;
    }
}

.page-item.active.disabled .page-link {
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-bg);
}

.loading-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
}

.dropdown-menu.show {
    z-index: 2;
}
.custom-toast-header {
    border: none;
    border-radius: 5px;
}
